{% load static %}

<!--mobile-header-->
<div class="sticker mobile-header">
  <div class="container">
    <!--logo and cart-->
    <div class="row align-items-center">
      <div class="col-sm-4 col-6">
        <div class="logo">
          <a href="{% url 'homeapp:home' %}">
            <img src="{% static 'assets/images/logos/logo.png' %}" alt="logo" />
          </a>
        </div>
      </div>
      <div class="col-sm-8 col-6">
        <div class="mini-cart text-right">
          <ul>
            <li>
              <a href="#"><i class="icon_heart_alt"></i><span>1</span></a>
            </li>
            <li class="minicart-icon">
              <a href="#"><i class="icon_bag_alt"></i><span>2</span></a>
              <div class="cart-dropdown">
                <ul>
                  <li>
                    <div class="mini-cart-thumb">
                      <a href="#">
                        <img src="assets/images/products/cart/thumb-1.jpg" alt="" />
                      </a>
                    </div>
                    <div class="mini-cart-heading">
                      <span>$460.00 x 1</span>
                      <h5>
                        <a href="#">Kabino Bedside Table</a>
                      </h5>
                    </div>
                    <div class="mini-cart-remove">
                      <button>
                        <i class="ti-close"></i>
                      </button>
                    </div>
                  </li>
                  <li>
                    <div class="mini-cart-thumb">
                      <a href="#">
                        <img src="assets/images/products/cart/thumb-2.jpg" alt="" />
                      </a>
                    </div>
                    <div class="mini-cart-heading">
                      <span>$460.00 x 1</span>
                      <h5>
                        <a href="#">Kabino Bedside Table</a>
                      </h5>
                    </div>
                    <div class="mini-cart-remove">
                      <button>
                        <i class="ti-close"></i>
                      </button>
                    </div>
                  </li>
                </ul>
                <div class="minicart-total fix">
                  <span class="pull-left">total:</span>
                  <span class="pull-right">$460.00</span>
                </div>
                <div class="mini-cart-checkout">
                  <a href="shopping-cart.html" class="btn-common view-cart">VIEW CARD</a>
                  <a href="checkout.html" class="btn-common checkout mt-10">CHECK OUT</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--search-box-->
    <div class="row align-items-center">
      <div class="col-sm-12">
        <div class="search-box mt-sm-15">
          <select>
            <option>All Categories</option>
            {% for cats in top_categories %}
              <option>
                <a href="">Computer</a>
              </option>
            {% endfor %}
          </select>
          <input type="text" placeholder="What do you need?" />
          <button>Search</button>
        </div>
      </div>
    </div>
    <!--site-menu-->
    <div class="row mt-sm-10">
      <div class="col-lg-12">
        <a href="#my-menu" class="mmenu-icon pull-left"><i class="fa fa-bars"></i></a>
        <div class="mainmenu">
          <nav id="my-menu">
            <ul>
              <li>
                <a href="{% url 'homeapp:home' %}">Home <b class="caret"></b></a>
              </li>
              <li>
                <a href="#">
                  <span class="text-label label-featured"></span>
                  Shop
                  <b class="caret"></b>
                </a>
              </li>
              <li>
                <a href="#">Blog <b class="caret"></b></a>
              </li>
              <li>
                <a href="contact.html">Contact</a>
              </li>
              {% if request.user.is_authenticated %}
                <li>
                  <a href="#">User <b class="caret"></b></a>
                  <ul class="submenu">
                    <li>
                      <a href="% url 'users:detail' request.user.pk %}">Profile</a>
                    </li>
                    <li>
                      <a href="{% url 'account_logout' %}">Signout</a>
                    </li>
                  </ul>
                </li>
              {% else %}
                <li>
                  <a href="#">User <b class="caret"></b></a>
                  <ul class="submenu">
                    {% if ACCOUNT_ALLOW_REGISTRATION %}
                      <li>
                        <a href="{% url 'account_signup' %}">Signup</a>
                      </li>
                    {% endif %}
                    <li>
                      <a href="{% url 'account_login' %}">Signin</a>
                    </li>
                  </ul>
                </li>
              {% endif %}
            </ul>
          </nav>
        </div>
        <!--category-->
        <div class="collapse-menu mt-0 pull-right">
          <ul>
            <li>
              <a href="javascript:void(0);" class="vm-menu"><i class="fa fa-navicon"></i><span>All
              Categories</span></a>
              <ul class="vm-dropdown">
                {% for category in top_categories %}
                  {% if not category.sub_category %}
                    <li>
                      <a href="#">
                        <img height="15" width="15" src="{{ category.image.url }}" alt="" />
                        <span>{{ category.title }}</span>
                        {% if category.subcategories.exists %}<b class="caret"></b>{% endif %}
                      </a>
                      {% if category.subcategories.exists %}
                        <ul class="mega-menu">
                          {% for subcategory in category.subcategories.all %}
                            <li class="megamenu-single">
                              <a href="#">
                                <span class="mega-menu-title">{{ subcategory.title }}</span>
                              </a>
                              {% if subcategory.subcategories.exists %}
                                <ul>
                                  {% for sub_subcategory in subcategory.subcategories.all %}
                                    <li>
                                      <a href="#">{{ sub_subcategory.title }}</a>
                                    </li>
                                  {% endfor %}
                                </ul>
                              {% endif %}
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
