
  <!--mainmenu-area start-->
  <div class="sticker mainmenu-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 pr-0 d-none-sm">
          <div class="collapse-menu style-2 mt-0">
            <ul>
              <li><a href="javascript:void(0);" class="vm-menu"><i class="fa fa-navicon"></i><span>All
                    Departments</span></a>
                <ul class="vm-dropdown">
                  <li><a href="#"><i class="fa fa-laptop"></i>Computeroo <b class="caret"></b></a>
                    <ul class="mega-menu">
                      <li class="megamenu-single">
                        <span class="mega-menu-title">Shop Page</span>
                        <ul>
                          <li><a href="#">Products Block Top</a></li>
                          <li><a href="#">Products Block Bottom</a></li>
                          <li><a href="#">Shop Grid 5 Column</a></li>
                          <li><a href="#">Shop List</a></li>
                          <li><a href="#">Shop width Normal</a></li>
                          <li><a href="#">Shop List Normal</a></li>
                        </ul>
                      </li>
                      <li class="megamenu-single">
                        <span class="mega-menu-title">Featured</span>
                        <ul>
                          <li><a href="#">Thumbnails Left</a></li>
                          <li><a href="#">Thumbnails Right</a></li>
                          <li><a href="#">Thumbnails Bottom</a></li>
                          <li><a href="#">Thumbnails Full</a></li>
                          <li><a href="#">Single 2 Colums</a></li>
                          <li><a href="#">Tabs Content</a></li>
                        </ul>
                      </li>
                      <li class="megamenu-single">
                        <span class="mega-menu-title">Shop Page</span>
                        <ul>
                          <li><a href="#">Simple Product</a></li>
                          <li><a href="#">Grouped Product</a></li>
                          <li><a href="#">Variable Product</a></li>
                          <li><a href="#">External Product</a></li>
                          <li><a href="#">My account</a></li>
                          <li><a href="#">Checkout</a></li>
                        </ul>
                      </li>
                      <li class="megamenu-single">
                        <span class="mega-menu-title">Features</span>
                        <ul>
                          <li><a href="#">Detail with Video</a></li>
                          <li><a href="#">Variations Swatches</a></li>
                          <li><a href="#">With Countdown Timer</a></li>
                          <li><a href="#">Catalog Mode</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  {% comment %} <li><a href="#"><i class="fa fa-desktop"></i>TV & Smart box <b class="caret"></b></a>
                    <ul class="mega-menu">
                      <li class="megamenu-single">
                        <span class="mega-menu-title">Shop Page</span>
                        <ul>
                          <li><a href="#">Products Block Top</a></li>
                          <li><a href="#">Products Block Bottom</a></li>
                          <li><a href="#">Shop Grid 5 Column</a></li>
                          <li><a href="#">Shop List</a></li>
                          <li><a href="#">Shop width Normal</a></li>
                          <li><a href="#">Shop List Normal</a></li>
                        </ul>
                      </li>
                      <li class="megamenu-single">
                        <span class="mega-menu-title">Featured</span>
                        <ul>
                          <li><a href="#">Thumbnails Left</a></li>
                          <li><a href="#">Thumbnails Right</a></li>
                          <li><a href="#">Thumbnails Bottom</a></li>
                          <li><a href="#">Thumbnails Full</a></li>
                          <li><a href="#">Single 2 Colums</a></li>
                          <li><a href="#">Detail with Accessories</a></li>
                          <li><a href="#">Tabs Content</a></li>
                          <li><a href="#">Accordion Tabs</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="#"><i class="fa fa-camera"></i>Camera & Photography</a></li>
                  <li><a href="#"><i class="fa fa-headphones"></i>Headphones</a></li>
                  <li><a href="#"><i class="fa fa-music"></i>Musical Instruments</a></li>
                  <li><a href="#"><i class="fa fa-mobile"></i>Smart phone & Tablets</a></li>
                  <li><a href="#"><i class="fa fa-flash"></i>Accessories</a></li>
                  <li><a href="#"><i class="fa fa-microphone"></i>Home Audio & Theater</a></li>
                  <li><a href="#"><i class="fa fa-print"></i>Printer</a></li>
                  <li><a href="#"><i class="fa fa-fax"></i>Fax machine</a></li>
                  <li><a href="#"><i class="fa fa-spoon"></i>Household goods</a></li>
                  <li><a href="#"><i class="fa fa-clock-o"></i>Watch</a></li> {% endcomment %}
                  <li><a href="#"><i class="fa fa-random"></i>Other</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-9 pl-0">
          <div class="slider-top">
            <div class="row align-items-center">
              <div class="col-xl-9">
                <div class="mainmenu style-2">
                  <nav>
                    <ul>
                      <li><a href="{% url 'homeapp:home' %}">Home <b class="caret"></b></a>
                        
                      </li>
                      <li>
                        <a href="#">
                          
                          Shop
                          <b class="caret"></b>
                        </a>
                        
                      </li>
                      
                      <li><a href="#">Blog <b class="caret"></b></a>
                        
                      </li>
                      <li><a href="contact.html">Contact</a></li>
                      
                    </ul>
                  </nav>
                </div>
              </div>
              <div class="col-xl-3 d-lg-none d-xl-block">
                <div class="social-icons style-3 pull-right">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                  <a href="#"><i class="fa fa-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--mainmenu-area end-->